################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/WebApplication1/.vs
/WebApplication1/obj
/WebApplication1/bin
/WebApplication1/Properties/PublishProfiles
/WebApplication1/node_modules
/WebApplication1/WebApplication1.csproj.user
/WebApplication1/appsettings.Production.json
/WebApplication1/appsettings.Development.json
/WebApplication1/package-lock.json

/packages
/OAuthApp.Jobs/bin
/OAuthApp.Jobs/obj
/OAuthApp.Jobs/Properties/PublishProfiles
/OAuthApp.Jobs/OAuthApp.Jobs.csproj.user
/docs/_build/html
/OAuthApp/bin
/OAuthApp/obj
/OAuthApp/OAuthApp.csproj.user
/OAuthApp.Jobs.Host/bin
/OAuthApp.Jobs.Host/obj
/OAuthApp.Jobs.Host/Properties/PublishProfiles
/OAuthApp.Jobs.Host/OAuthApp.Jobs.Host.csproj.user
/docs/.vs
/OAuthApp.Jobs/obj
/OAuthApp.Jobs/bin/Release
