################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/IdentityServer4.MicroService/.vs
/IdentityServer4.MicroService/obj
/IdentityServer4.MicroService/bin
/IdentityServer4.MicroService/Properties/PublishProfiles
/IdentityServer4.MicroService/node_modules
/IdentityServer4.MicroService/IdentityServer4.MicroService.csproj.user

/packages
/IdentityServer4.MicroService.SDKGen/bin
/IdentityServer4.MicroService.SDKGen/obj
/IdentityServer4.MicroService.SDKGen/Properties/PublishProfiles
/IdentityServer4.MicroService.SDKGen/IdentityServer4.MicroService.SDKGen.csproj.user