################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/IdentityServer4.MicroService.Host/.vs
/IdentityServer4.MicroService.Host/obj
/IdentityServer4.MicroService.Host/bin
/IdentityServer4.MicroService.Host/Properties/PublishProfiles
/IdentityServer4.MicroService.Host/node_modules
/IdentityServer4.MicroService.Host/IdentityServer4.MicroService.Host.csproj.user

/packages
/IdentityServer4.MicroService.AzureJobs/bin
/IdentityServer4.MicroService.AzureJobs/obj
/IdentityServer4.MicroService.AzureJobs/Properties/PublishProfiles
/IdentityServer4.MicroService.AzureJobs/IdentityServer4.MicroService.AzureJobs.csproj.user
/docs/_build/html
/IdentityServer4.MicroService/bin
/IdentityServer4.MicroService/obj
/IdentityServer4.MicroService/IdentityServer4.MicroService.csproj.user
/IdentityServer4.MicroService.Host/package-lock.json
/IdentityServer4.MicroService.AzureJobs.Host/bin
/IdentityServer4.MicroService.AzureJobs.Host/obj
/IdentityServer4.MicroService.AzureJobs.Host/Properties/PublishProfiles
/IdentityServer4.MicroService.AzureJobs.Host/IdentityServer4.MicroService.AzureJobs.Host.csproj.user
/IdentityServer4.MicroService.Host/appsettings.Production.json
/IdentityServer4.MicroService.Host/appsettings.Development.json
