@model IdentityServer4.EntityFramework.Entities.ApiResource
@{
    ViewData["Title"] = "Edit";
}
<div class="ui grid container" ng-controller="AppController">
    <h4>编辑微服务</h4>
    <form asp-action="Edit" class="ui form">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui grid container">
            <div class="row">
                <div class="four wide column">
                    <div class="field">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="DisplayName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DisplayName" class="form-control" />
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="Enabled" />
                                <label asp-for="Enabled"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="positive ui button" />
                            <a asp-action="Index" class="ui button">Back to List</a>
                        </div>
                    </div>

                </div>
                <div class="twelve wide column">
                    <input type="hidden" name="Secrets" value="{{secrets}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>Secret</th>
                                <th>到期时间</th>
                                <th>描述</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in secrets">
                                <td>
                                    <input type="text" ng-model="x.value" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.expiration" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.description" />
                                </td>
                                <td>
                                    <a class="ui tiny button" ng-click="delsecret($index)">
                                        <i class="remove icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="4">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addsecret()"><i class="plus icon"></i> 添加 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <input type="hidden" name="Scopes" value="{{scopes}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>Scope</th>
                                <th>名称</th>
                                <th>必须</th>
                                <th>可自动发现</th>
                                <th>强调</th>
                                <th>描述</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in scopes">
                                <td>
                                    <input type="text" ng-model="x.name" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.displayName" />
                                </td>
                              
                                <td>
                                    <input type="checkbox" ng-model="x.required" />
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="x.showInDiscoveryDocument" />
                                </td>
                                <td>
                                    <input type="checkbox" ng-model="x.emphasize" />
                                </td>
                                <td>
                                    <input type="text" ng-model="x.description" />
                                </td>
                                <td>
                                    <a class="ui tiny button" ng-click="delscope($index)">
                                        <i class="remove icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="7">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addscope()"><i class="plus icon"></i> 添加 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>

                    <input type="hidden" name="UserClaims" value="{{claims}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>UserClaims</th>
                                <th width="50px"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in claims">
                                <td>
                                    <input type="text" ng-model="x.type" />
                                </td>
                                <td>
                                    <a class="ui tiny button" ng-click="delclaim($index)">
                                        <i class="remove icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="2">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addclaim()"><i class="plus icon"></i> 添加 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
</form>
</div>
@section Scripts{
    <script type="text/javascript">
        app.controller('AppController', function ($scope) {
            $scope.claims = @Json.Serialize(Model.UserClaims.Select(x => new { Id = x.Id, Type = x.Type }));

            $scope.scopes = @Json.Serialize(Model.Scopes.Select(x => new {
                           Id = x.Id,
                           Name = x.Name,
                           DisplayName = x.DisplayName,
                           Description = x.Description,
                           Required = x.Required,
                           ShowInDiscoveryDocument = x.ShowInDiscoveryDocument,
                           Emphasize = x.Emphasize }));

            $scope.secrets = @Json.Serialize(Model.Secrets.Select(x => new {
                            Id = x.Id,
                            Type = x.Type,
                            Value = x.Value,
                            Description = x.Description,
                            Expiration = x.Expiration
                        }));

            $scope.delclaim = function (ind) {
                $scope.claims.splice(ind, 1);
            }
            $scope.addclaim = function () {
                $scope.claims.push({ type: '' });
            }

            $scope.delscope = function (ind) {
                $scope.scopes.splice(ind, 1);
            }
            $scope.addscope = function () {
                $scope.scopes.push({
                    name: '',
                    displayName: '',
                    description: '',
                    required: false,
                    showInDiscoveryDocument: true,
                    emphasize: false
                });
            }

            $scope.delsecret = function (ind) {
                $scope.secrets.splice(ind, 1);
            }
            $scope.addsecret = function () {
                $scope.secrets.push({ type: '' });
            }

        });
</script>
}