@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"].</h2>
            <p class="text-success">@ViewData["StatusMessage"]</p>
    
                <h4 class="ui horizontal divider header"><i class="tag icon"></i> Change your account settings </h4>
                <div class="ui form">
                    <div class="field">
                        <label>Password</label>
                        @if (Model.HasPassword){
                            <a asp-controller="Manage" asp-action="ChangePassword" class="ui tiny basic button">Change</a>
                    }
                    else{
                            <a asp-controller="Manage" asp-action="SetPassword" class="ui tiny basic button">Create</a>
                    }
                    </div>
                    <div class="field">
                        <label>External Logins:</label>
                        <a asp-controller="Manage" asp-action="ManageLogins" class="ui tiny basic button">Manage</a>
                    </div>
                    <div class="field">
                        <label>Phone Number:</label>
                        <p>
                            Phone Numbers can be used as a second factor of verification in two-factor authentication.
                            @*See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>for details on setting up this ASP.NET application to support two-factor authentication using SMS.*@
                        </p>
                        @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }
                    </div>
                    <div class="field">
                        <label>Two-Factor Authentication:</label>
                        <p>
                            There are no two-factor authentication providers configured. 
                            @*See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>for setting up this application to support two-factor authentication.*@
                        </p>
                        @if (Model.TwoFactor)
        {
            <form asp-controller="Manage" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                启用 <button type="submit" class="btn btn-link">禁用</button>
            </form>
        }
        else
        {
            <form asp-controller="Manage" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                <button type="submit" class="btn btn-link">启用</button> 禁用
            </form>
        }
                    </div>
                </div>
        </div>
    </div>
</div>