@model IdentityServer4.EntityFramework.Entities.IdentityResource

@{
    ViewData["Title"] = "Create";
}
<div class="ui grid container" ng-controller="AppController">
    <h2>创建身份资源</h2>
    <form asp-action="Create" class="ui form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="ui grid container">
            <div class="two column row">
                <div class="column">
                    <div class="field">
                        <label asp-for="Name" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="DisplayName" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="DisplayName" class="form-control" />
                            <span asp-validation-for="DisplayName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <label asp-for="Description" class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="Emphasize" />
                                <label asp-for="Emphasize"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="Enabled" />
                                <label asp-for="Enabled"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="Required" />
                                <label asp-for="Required"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <div class="ui checkbox">
                                <input asp-for="ShowInDiscoveryDocument" />
                                <label asp-for="ShowInDiscoveryDocument"></label>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="positive ui button" />
                            <a asp-action="Index" class="ui button">Back to List</a>
                        </div>
                    </div>
                </div>
                <div class="column">
                    <input type="hidden" name="UserClaims" value="{{claims}}" />
                    <table class="ui small grey celled striped table">
                        <thead>
                            <tr>
                                <th>Claim类型</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="x in claims">
                                <td>
                                    <input type="text" ng-model="x.type" />
                                </td>
                                <td>
                                    <a class="ui tiny button" ng-click="delclaim($index)">
                                        <i class="remove icon"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot class="full-width">
                            <tr>
                                <th colspan="3">
                                    <div class="ui right floated tiny primary labeled icon button" ng-click="addclaim()"><i class="plus icon"></i> 添加声明 </div>
                                </th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </form>

</div>
@section Scripts{
    <script type="text/javascript">
        app.controller('AppController', function ($scope) {
            $scope.claims = [];

        $scope.delclaim = function (ind) {
           $scope.claims.splice(ind, 1);
        }
        $scope.addclaim = function () {
            $scope.claims.push({ Type:'' });
        }

    });
    </script>
}