@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer l

<div class="flex-row ml-md-auto">
   
</div>

<form id="logout2_form" asp-controller="Account" asp-action="Logout2" method="post" class="form-inline mt-2 mt-md-0">

    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-controller="Manage" asp-action="Index" class="btn btn-outline-success d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3">@UserManager.GetUserName(User)</a>
        <a class="btn btn-outline-success d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" href="#" onclick="logout2_form.submit()">@l["退出"]</a>
    }
    else
    {
        <a asp-controller="Account" class="btn btn-outline-success my-2 my-sm-0 mx-1" asp-action="Login">@l["登录"]</a>
        <a asp-controller="Account" class="btn btn-outline-success my-2 my-sm-0 mx-1" asp-action="Register">@l["注册"]</a>
    }
</form>