@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    var TenantContext = OAuthApp.Tenant.TenantValidatorHelper.GetTenantWithProperties(HttpContext);
}

<form method="post" class="mt-5 pt-5" style="width: 100%; max-width: 420px; padding: 15px; margin: auto;">
                 <div class="text-center mb-4">
        <img class="mb-4" src="@TenantContext.LogoUri" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">@TenantContext.Name</h1>
        <p>@TenantContext.Description</p>
    </div>
            <hr />

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success btn-block">重置密码</button>
        </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
