@model List<Microsoft.AspNetCore.Identity.IdentityUserClaim<long>>
<input type="hidden" name="Claims" ng-model="claims" />
    <table class="ui celled striped definition table">
        <thead>
            <tr>
                <th>类型</th>
                <th>值</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var r in Model)
            {
                <tr>
                    <td> 
                    <input type="text" name="ClaimType" value="@r.ClaimType" /></td>
                    <td><input type="text" name="ClaimValue" value="@r.ClaimValue" /></td>
                </tr>
            }
        </tbody>
    </table>
