@model List<Microsoft.AspNetCore.Identity.IdentityUserLogin<long>>
<table class="ui celled striped definition table">
    <thead>
        <tr>
            <th>应用</th>
            <th>标识</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.LoginProvider</td>
                <td>@r.ProviderKey</td>
            </tr>
        }
    </tbody>
</table>