@{
    ViewData["Title"] = "Confirm Email";
}
<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="text-center mb-4">
                <h5 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h5>
                <p> Thank you for confirming your email. Please <a asp-controller="Account" asp-action="Login">Click here to Log in</a></p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>
</div>