@model ForgotPasswordViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["忘记密码"];
}

<div class="ui centered grid">
    <div class="six wide column">
        <h2>@ViewData["Title"]</h2>
        <form asp-controller="Account" asp-action="ForgotPassword" method="post" class="ui form">
            <h4>@Localizer["请输入您的邮箱地址"]</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <div class="field">
                <label>@Localizer["邮箱"]</label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <div class="col-md-10">
                    <button type="submit" class="ui button">@Localizer["提交"]</button>
                </div>
            </div>
        </form>

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
    </div>
</div>