@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="ui centered grid">
    <div class="six wide column">
        <h2>@ViewData["Title"].</h2>
        <p>
            Please check your email to reset your password.
        </p>
        </div>
</div>