@{
    ViewData["Title"] = "Locked out";
}
<div class="ui centered grid">
    <div class="six wide column">
        <header>
            <h1 class="text-danger">Locked out.</h1>
            <p class="text-danger">This account has been locked out, please try again later.</p>
        </header>
        </div>
</div>