@model RegisterViewModel
@inject IViewLocalizer Localizer
<div class="ui centered grid">
    <div class="six wide column">
        <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="ui form">
            <h4>@Localizer["注册"]</h4>
            <p>@Localizer["创建新的账号."]</p>
            <div asp-validation-summary="All" class="ui message" />

            <div class="field">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="field">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>

            <div class="field">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>

            <div class="field">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="positive ui button">@Localizer["注册"]</button>
                </div>
            </div>
        </form>
    </div>
</div>
        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
