@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}
<div class="ui centered grid">
    <div class="six wide column">
        <h2>@ViewData["Title"].</h2>
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="ui form">
            <h4>Reset your password.</h4>
            <hr />
            <div asp-validation-summary="All"></div>
            <input asp-for="Code" type="hidden" />
            <div class="field">
                <label asp-for="Email"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <label asp-for="Password"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <label asp-for="ConfirmPassword"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="field">
                <div class="col-md-10">
                    <button type="submit" class="ui button">Reset</button>
                </div>
            </div>
        </form>

        @section Scripts {
            @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
        }
        </div>
</div>
