@model SendCodeViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Send Verification Code";
}
<style>
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }
</style>

<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post">
                <div class="text-center mb-4">
                    <h5 class="h3 mb-3 font-weight-normal">@ViewData["Title"]</h5>
                </div>

                <input asp-for="RememberMe" type="hidden" />

                <div class="form-label-group">
                    <label>Select Two-Factor Authentication Provider:</label>
                    <div class="col-md-6">
                        <select asp-for="SelectedProvider" asp-items="Model.Providers"></select>
                    </div>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["提交"]</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>
</div>