@model ConsentViewModel
<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <div class="text-center mb-4">
                @if (Model.ClientLogoUrl != null)
            {
                <img class="mb-4" src="@Model.ClientLogoUrl" alt="" width="72" height="72">
        }
                <h1 class="h3 mb-3 font-weight-normal">
                    @Model.ClientName
                    @if (Model.ClientUrl != null)
                {
                    <a class="ui icon pull-right" target="_blank" href="@Model.ClientUrl">
                        <i class="external icon"></i>
                    </a>
            }
                </h1>
                <p>is requesting your permission. </p>
            </div>
        </div>
        <div class="col-2"></div>
    </div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <partial name="_ValidationSummary" />
            <form asp-action="Index">
                <input type="hidden" asp-for="ReturnUrl" />
                <div>Uncheck the permissions you do not wish to grant.</div>
                @if (Model.IdentityScopes.Any()){
                <div class="panel panel-default consent-buttons">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-user"></span>
                        Personal Information
                    </div>
                    <ul class="list-group">
                        @foreach (var scope in Model.IdentityScopes){<partial name="_ScopeListItem" model="scope" />}
                    </ul>
                </div>}

                @if (Model.ResourceScopes.Any()){
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-tasks"></span>
                    Application Access
                </div>
                <ul class="ul list">
                    @foreach (var scope in Model.ResourceScopes)
            {
                    <partial name="_ScopeListItem" model="scope" />
    }
                </ul>
            </div>
}

                @if (Model.AllowRememberConsent)
        {
            <p>
                <div class="ui checkbox">
                    <input asp-for="RememberConsent" />
                    <label><b>Remember My Decision</b></label>
                </div>
            </p>
}

              
                    <button name="button" value="yes" class="btn btn-lg btn-primary btn-block" autofocus>Yes, Allow</button>
                    <button name="button" value="no" class="btn btn-lg btn-secondary btn-block">No, Do Not Allow</button>
                
            </form>
        </div>
        <div class="col-2"></div>

      
     </div>
</div>