@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject IViewLocalizer Localizer
<form id="logout2_form" name="" asp-area="" asp-controller="Account" asp-action="Logout2" method="post" style="display:flex">
    @if (SignInManager.IsSignedIn(User))
    {
        <a asp-area="" asp-controller="Manage" asp-action="Index" class="item" title="Manage">@UserManager.GetUserName(User)</a>
        <a class="item" title="Manage" onclick="logout2_form.submit()">Log out</a>
    }
    else
    {
        <a asp-area="" asp-controller="Account" class="item" asp-action="Register">@Localizer["注册"]</a>
        <a asp-area="" asp-controller="Account" class="item" asp-action="Login">@Localizer["登录"]</a>
    }
</form>
@await Html.PartialAsync("_SelectLanguagePartial")
