@{
    ViewData["Title"] = "Error";
}

<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col-2"></div>
        <div class="col">
            <h1 class="text-danger">Error.</h1>
            <h5 class="ui horizontal divider header">An error occurred while processing your request. </h5>

            <h3>Development Mode</h3>
            <p>
                Swapping to <strong>Development</strong> environment will display more detailed information about the error that occurred.
            </p>
            <p>
                <strong>Development environment should not be enabled in deployed applications</strong>, as it can result in sensitive information from exceptions being displayed to end users. For local debugging, development environment can be enabled by setting the <strong>ASPNETCORE_ENVIRONMENT</strong> environment variable to <strong>Development</strong>, and restarting the application.
            </p>
        </div>
        <div class="col-2"></div>
    </div>
</div>