@model AddPhoneNumberViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Add Phone Number";
}
<style>
    .form-label-group {
        position: relative;
        margin-bottom: 1rem;
    }

    .btn-outline-secondary {
        margin: 5px;
    }
</style>
<div class="container" style="margin-top:3em;">
    <div class="row">
        <div class="col">
            <h2>@ViewData["Title"]</h2>
            <form asp-controller="Manage" asp-action="AddPhoneNumber" method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-label-group">
                    <input type="text" name="PhoneNumber" id="PhoneNumber" class="form-control" placeholder="@Localizer["PhoneNumber"]" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>

                <button class="btn btn-lg btn-primary btn-block" type="submit">@Localizer["发送验证码"]</button>
            </form>
        </div>
    </div>
</div>